---
import Section from "../Section.astro";
import { getI18N } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { summary } = i18n.cv.basics;
---

<Section title={i18n.ABOUT_ME}>
  <p>
    {summary}
  </p>
</Section>
